@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Abril+Fatface&family=Acme&family=Beau+Rivage&family=Dancing+Script:wght@400;600;700&family=Josefin+Sans:wght@500&family=Lavishly+Yours&family=Libre+Baskerville&family=Lobster&family=Lora:ital@0;1&family=Macondo&family=Noto+Serif:wght@700&family=Roboto+Slab&family=Shadows+Into+Light&display=swap');


body , html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "lato", sans-serif; 
    font-weight: 400;
    line-height:1.8em;
    color: #666;
}

.pimg1, .pimg2, .pimg3{
    position:relative;
    opacity:0.70;  /*faded image*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;
    /*
    fixed = parallax
    scroll = nornmal
    */
}

.pimg1{
    background-image:url('../img/image1.jpg');
    min-height:80%;
}

.pimg2{
    background-image:url('../img/image2.jpg');
    min-height: 60%;
}

.pimg3{
    background-image:url('../img/image3.jpg');
    min-height: 60%;
}

.section{
    text-align: center;
    padding: 50px 80px;
}

.section-light{
background-color: white;
color: black;
}

.section-dark{
background-color: black;
color: white;
}

.ptext{
  position:absolute;
  top: 50%;
  width: 100%;
  text-align: center;  
  color: black;
  font-size: 40px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

 
